@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");

$primary-color: #8cc43c;
$border-radius-container: 10px;
$border-radius-input: 5px;

$color-text-gray: gray;
$color-text-header: rgb(78, 78, 78);
$color-white: white;
$color-box-shadow: #6c9532;